.default {
}

.default:active {
    top: 4px;
    box-shadow: none;
}

.default:disabled {
    opacity: 0.5;
}


.red {
    background-color: white;
    border-radius: 5px;
    font-family: monospace;
    color: red;
}